

.ancient{
	width: 100%;
	.wrap-bar{
		width: 100%;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 99999;
	}
	.wrap{
		width: 100%;
		height: 100vh;
		background: linear-gradient(45deg, #9000ff, #5e00ff,#9000ff, #5e00ff);
		.body{
			width: 100%;
			height: 100%;
			background: linear-gradient(45deg, #9000ff, #5e00ff,#9000ff, #5e00ff);
			.item_scroll{
				width: 100%;
				&:last-child{
					padding-bottom: 120rpx;
				}
			}
		}
	}
}